{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6 wow fadeInUp" data-wow-delay="0.1s">Shop Page</h1>
    <ol class="breadcrumb justify-content-center mb-0 wow fadeInUp" data-wow-delay="0.3s">
        <li class="breadcrumb-item"><a href="{% url 'store:home' %}">Home</a></li>
        <li class="breadcrumb-item active text-white">Shop</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Shop Page Start -->
<div class="container-fluid shop py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="product-categories mb-4">
                    <h4>Products Categories</h4>
                    <ul class="list-unstyled">
                        {% for category in categories %}
                        <li>
                            <div class="categories-item">
                                <a href="#" class="text-dark"><i class="fas fa-apple-alt text-secondary me-2"></i>
                                    {{ category.name }}</a>
                                <span>(0)</span>
                            </div>
                        </li>
                        {% empty %}
                        <li>No categories</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="price mb-4">
                    <h4 class="mb-2">Price</h4>
                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500"
                        value="0" oninput="amount.value=rangeInput.value">
                    <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                </div>
            </div>
            <div class="col-lg-9 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4 product">
                    {% for product in products %}
                    <div class="col-lg-4">
                        <div class="product-item rounded wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item-inner border rounded">
                                <div class="product-item-inner-item">
                                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/product-1.png' %}{% endif %}"
                                        class="img-fluid w-100 rounded-top" alt="">
                                    <div class="product-details">
                                        <a href="{% url 'store:product_detail' product.slug %}"><i
                                                class="fa fa-eye fa-1x"></i></a>
                                    </div>
                                </div>
                                <div class="text-center rounded-bottom p-4">
                                    <a href="{% url 'store:product_detail' product.slug %}" class="d-block h4">{{
                                        product.name }}</a>
                                    <span class="text-primary fs-5">${{ product.price }}</span>
                                </div>
                            </div>
                            <div class="product-item-add border border-top-0 rounded-bottom text-center p-4 pt-0">
                                <a href="#" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4"><i
                                        class="fas fa-shopping-cart me-2"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-12">
                        <p>No products found.</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Page End -->
{% endblock %}